// Common Colors present in all houses
$black: #000000;
$gray: #E3DFD5;
$white: #FFFFFF;


// Then we'll go for the types and shades of gray

// Types of yellows
$yellow: #FFF200;
$mellow: #F8DE7E;
$cyber: #FFD300;
$royal: #FADA5E;
$trombone: #D2B55B;
$banana: #FCF4A3;
$tuscany: #FCD12A;
$lemon: #EFFD5F;
$bumblebee: #FCE205;
$flax: #EEDC85;
$cream: #FFFDD0;
$peach: #FFE5B4;
$laguna: #F8E473;
$mustard: #FEDC56;
$ecru: #CEB180;
$corn: #E4CD05;
$pineapple: #FEE12B;
$flaxen: #D5B85A;
$egg-nog: #F9E29C;
$sepia: #E3B778;



// This are the colors for the harry potter API
// Gryffindor
$gf-dark-red: #740001;
$gf-light-red: #AE0001;
$gf-muztard: #D3A625;
$gf-yellow: #EEBA30;
$gr-gray: #C0C0C0;

// Slytherin
$sl-dark-green: #1A472A;
$sl-light-green: #2A623D;
$sl-gray: #5D5D5D;
$sl-light-gray: #AAAAAA;

// Ravenclaw
$rc-dark-blue: #0E1A40;
$rc-blue: #222F5B;
$rc-gray: #5D5D5D;
$rc-muztard: #946B2D;

// Hufflepuff
$hp-light-yellow: #FFF4B1;
$hp-medium-yellow: #FFED86;
$hp-yellow: #FFDB00;
$hp-gray: #60605C;